################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmileLabs_BE/FileContentIndex
/.vs
